.products{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-items: center;
    margin: 20px 0;
}

/* Product Item */
@import url("../utlis/productItem/productItem.css");